{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STOCK</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  </head>
  <body>
    {% include 'header.html'%}
    <main>
      <section>
        {% include 'sidebar.html'%}
        <div class="right">
          <div class="search">
            <div><h1 style="color:red;">STOCK</h1></div>
            <form action="{% url 'myapp:stock' %}" method="post">
              {% csrf_token %}
              <ion-icon name="search-sharp"></ion-icon>&nbsp;&nbsp;
              <label for="nature">Nature : </label>
              <select name="nature" id="nature">
                  <option value="All" selected>Tout</option>
                {% for nature in natures %}
                  <option value="{{nature.Name}}">{{nature.Name}}</option>
                {% endfor %}
                </select>&nbsp;&nbsp;
              <label for="marque">Marque : </label>
              <select name="marque" id="marque">
                  <option value="All" selected>Tout</option>
                {% for marque in marques %}
                  <option value="{{marque.Nom}}">{{marque.Nom}}</option>
                {% endfor %}
                </select>&nbsp;&nbsp;
              <label for="numero">Numero : </label>
              <input type="text" name="numero" id="numero"> &nbsp;
              &nbsp;&nbsp; <input type="submit" value="Rechercher" style="border-radius: 10px;">
            </form>
          </div>
          <div class="resultat">
                <div class="all">
                <table>
                  <thead>
                    <tr>
                      <td>Nature</td>
                      <td>Numero</td>
                      <td>Marque</td>
                      <td>Détails</td>
                      <td>Prix</td>
                      <td>Lieu Stocks</td>
                      <td>Quantité</td>
                      <td>Valeur</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% if pneus %}
                    {% for pneu in pneus %}
                      <tr>
                        <td>Pneu</td>
                        <td>{{pneu.Numero.Numero}}</td>
                        <td>{{pneu.Marque.Nom}}</td>
                        <td>{{pneu.Details}}</td>
                        <td>{{pneu.Prix}}</td>
                        <td>{{pneu.Stockage}}</td>
                        <td>{{pneu.Quantite}}</td>
                        <td>{{pneu.valeur_restante}}</td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                    {% if batteries %}
                    {% for batterie in batteries %}
                      <tr>
                        <td>Batterie</td>
                        <td>{{batterie.Numero.Numero}}</td>
                        <td>{{batterie.Marque.Nom}}</td>
                        <td>{{batterie.Details}}</td>
                        <td>{{batterie.Prix}}</td>
                        <td>{{batterie.Stockage}}</td>
                        <td>{{batterie.Quantite}}</td>
                        <td>{{batterie.valeur_restante}}</td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                    {% if accessoires %}
                    {% for accessoire in accessoires %}
                      <tr>
                        <td>Accessoire</td>
                        <td>{{accessoire.Numero.Numero}}</td>
                        <td>{{accessoire.Marque.Nom}}</td>
                        <td>{{accessoire.Details}}</td>
                        <td>{{accessoire.Prix}}</td>
                        <td>{{accessoire.Stockage}}</td>
                        <td>{{accessoire.Quantite}}</td>
                        <td>{{accessoire.valeur_restante}}</td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
                </div>
                {% comment %}
                <div class="total">
                  <span>Nombre Total de Pneu </span>
                  <div class="boite">{{total_pneu}}</div>
                  <span>Nombre Total Stocks</span>
                  <div class="boite">{{stock_pneu}}</div>

                  {% if marques %}
                    {% for marque in marques %}
                        <span>Total {{marque.Nom}}</span>
                        <div class="boite">{{marque.Quantite}}</div>
                    {% endfor %}
                  {% endif %}
                  {% endcomment %}
                </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
